   <div className="relative w-[248px] h-[1028px] bg-black">
      <div className="flex w-[248px] h-[36px] items-start px-[10px] py-0 absolute top-0 left-0 bg-black">
        <button className="relative flex-1 min-w-[96px] grow h-[36px] all-[unset] box-border">
          <div className="absolute h-[15px] top-[9px] left-[88px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#a2dadd] text-[14.8px] text-center tracking-[0] leading-[14.8px] whitespace-nowrap">
            Studies
          </div>
          <img className="absolute w-[20px] h-[12px] top-[12px] left-[203px]" alt="Svg" src="SVG.svg" />
        </button>
      </div>
      <div className="flex w-[248px] h-[64px] items-center justify-center pl-[46.67px] pr-[46.69px] pt-[16.3px] pb-[17.1px] absolute top-[40px] left-0 bg-black border-b-[0.8px] [border-bottom-style:solid] border-[#087d88]">
        <div className="inline-flex items-start relative flex-[0_0_auto]">
          <button className="inline-flex items-center justify-center pl-[8.47px] pr-[7.44px] pt-[9.2px] pb-[8.4px] relative flex-[0_0_auto] bg-[#00293b] rounded-[6px_0px_0px_6px] border-t-[0.8px] [border-top-style:solid] border-b-[0.8px] [border-bottom-style:solid] border-l-[0.8px] [border-left-style:solid] border-[#087d88] all-[unset] box-border">
            <div className="relative w-fit mt-[-0.80px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] text-center tracking-[0] leading-[13px] whitespace-nowrap">
              Primary
            </div>
          </button>
          <button className="inline-flex items-center justify-center pl-[8.08px] pr-[7.89px] pt-[9.2px] pb-[8.4px] relative flex-[0_0_auto] bg-black border-t-[0.8px] [border-top-style:solid] border-b-[0.8px] [border-bottom-style:solid] border-[#087d88] all-[unset] box-border">
            <div className="relative w-fit mt-[-0.80px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] text-center tracking-[0] leading-[13px] whitespace-nowrap">
              Recent
            </div>
          </button>
          <button className="inline-flex items-center justify-center pl-[8.08px] pr-[8.68px] pt-[9.2px] pb-[8.4px] relative flex-[0_0_auto] bg-black rounded-[0px_6px_6px_0px] border-t-[0.8px] [border-top-style:solid] border-r-[0.8px] [border-right-style:solid] border-b-[0.8px] [border-bottom-style:solid] border-[#087d88] all-[unset] box-border">
            <div className="relative w-fit mt-[-0.80px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] text-center tracking-[0] leading-[13px] whitespace-nowrap">
              All
            </div>
          </button>
        </div>
      </div>
      <div className="flex flex-col w-[248px] h-[924px] items-start pt-0 pb-[742px] px-0 absolute top-[104px] left-0">
        <div className="flex items-start relative self-stretch w-full flex-[0_0_auto] bg-black">
          <div className="flex flex-col w-[248px] items-start pt-0 pb-[8px] px-[16px] relative">
            <div className="relative self-stretch w-full h-[41px]">
              <div className="inline-flex items-start pt-[0.6px] pb-0 px-0 absolute top-[11px] left-0">
                <div className="relative w-fit mt-[-1.00px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                  DD-MM-YYYY
                </div>
              </div>
              <div className="absolute w-[46px] h-[25px] top-[8px] left-[170px]">
                <img className="absolute w-[16px] h-[25px] top-0 left-[8px]" alt="Svg" src="image.svg" />
                <div className="absolute h-[20px] top-[2px] left-[32px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#90cdf4] text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                  10
                </div>
              </div>
            </div>
            <div className="flex items-start pt-[3.4px] pb-[8.2px] px-0 relative self-stretch w-full flex-[0_0_auto]">
              <div className="relative self-stretch w-fit mt-[-1.00px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#90cdf4] text-[20px] tracking-[0] leading-[30px] whitespace-nowrap">
                CT
              </div>
            </div>
          </div>
        </div>
        <div className="flex items-start pt-[0.8px] pb-[49.6px] px-[16px] relative self-stretch w-full flex-[0_0_auto] bg-[#00293b] border-t-[0.8px] [border-top-style:solid] border-[#087d88]">
          <div className="relative w-[216px] h-[41px]">
            <div className="inline-flex items-start pt-[0.6px] pb-0 px-0 absolute top-[11px] left-0">
              <div className="relative w-fit mt-[-1.00px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                DD-MM-YYYY
              </div>
            </div>
            <div className="absolute w-[48px] h-[25px] top-[8px] left-[168px]">
              <img className="absolute w-[16px] h-[25px] top-0 left-[8px]" alt="Svg" src="SVG-2.svg" />
              <div className="absolute h-[20px] top-[2px] left-[32px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#90cdf4] text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                30
              </div>
            </div>
          </div>
        </div>
        <div className="flex min-h-[450px] items-start pl-0 pr-[8px] pt-[12px] pb-[211.8px] relative self-stretch w-full flex-[0_0_auto] mb-[-450.00px] bg-black">
          <div className="flex w-[240px] items-start px-[12px] py-[8px] relative">
            <img className="relative flex-[0_0_auto]" alt="Div flex" src="div-flex.svg" />
            <div className="flex flex-col items-start px-[12px] py-0 relative flex-1 grow">
              <div className="relative self-stretch w-full h-[178.2px]">
                <div className="flex w-[160px] min-h-[128px] items-center justify-center p-[1.6px] absolute top-0 left-0 bg-black rounded-[6px] overflow-hidden border border-solid border-[#a2dadd]">
                  <div className="relative max-w-[160px] w-[156.8px] h-[128px] bg-[url(image.png)] bg-cover bg-[50%_50%]" />
                </div>
                <div className="absolute w-[160px] h-[47px] top-[131px] left-0">
                  <div className="flex w-[160px] items-center gap-[15.28px] pt-[8px] pb-0 px-0 absolute top-0 left-0">
                    <div className="inline-flex items-start pt-[0.6px] pb-0 px-0 relative flex-[0_0_auto]">
                      <p className="relative w-fit mt-[-1.00px] [font-family:'Inter-Bold',Helvetica] font-normal text-transparent text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                        <span className="font-bold text-[#00293b]">S: </span>
                        <span className="[font-family:'Inter-Regular',Helvetica] text-[#90cdf4]">2</span>
                      </p>
                    </div>
                    <div className="flex items-start gap-[8px] pt-[0.25px] pb-0 px-0 relative flex-1 grow">
                      <img className="relative w-[12px] h-[19px]" alt="Svg" src="SVG-3.svg" />
                      <div className="relative w-fit mt-[-1.00px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#90cdf4] text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                        30
                      </div>
                    </div>
                  </div>
                  <div className="absolute h-[20px] top-[27px] left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                    Plain
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>