{/* <div className="flex w-[240px] items-start px-[12px] py-[8px] relative">
                        <img className="relative flex-[0_0_auto]" alt="Div flex" src="div-flex.svg" />
                        <div className="flex flex-col items-start px-[12px] py-0 relative flex-1 grow">
                            <div className="relative self-stretch w-full h-[178.2px]">
                                <div className="flex w-[160px] min-h-[128px] items-center justify-center p-[1.6px] absolute top-0 left-0 bg-black  overflow-hidden rounded-[6px] border border-solid border-[#a2dadd]">
                                    <div className="relative max-w-[160px] w-[156.8px] h-[128px] bg-[url(image.png)] bg-cover bg-[50%_50%]" />
                                </div>
                                <div className="absolute w-[160px] h-[47px] top-[131px] left-0">
                                    <div className="flex w-[160px] items-center gap-[15.28px] pt-[8px] pb-0 px-0 absolute top-0 left-0">
                                        <div className="inline-flex items-start pt-[0.6px] pb-0 px-0 relative flex-[0_0_auto]">
                                            <p className="relative w-fit mt-[-1.00px] [font-family:'Inter-Bold',Helvetica] font-normal text-transparent text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                                                <span className="font-bold text-[#00293b]">S: </span>
                                                <span className="[font-family:'Inter-Regular',Helvetica] text-[#90cdf4]">2</span>
                                            </p>
                                        </div>
                                        <div className="flex items-start gap-[8px] pt-[0.25px] pb-0 px-0 relative flex-1 grow">
                                            <img className="relative w-[12px] h-[19px]" alt="Svg" src="SVG.svg" />
                                            <div className="relative w-fit mt-[-1.00px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#90cdf4] text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                                                30
                                            </div>
                                        </div>
                                    </div>
                                    <div className="absolute h-[20px] top-[27px] left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-white text-[13px] tracking-[0] leading-[19.5px] whitespace-nowrap">
                                        Plain
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> */}